{% extends "accounts_base.html" %} {% load django_bootstrap5 %} {% block body %}
<div class="row justify-content-center">
  <div class="col-12 col-sm-10 col-md-12 col-lg-12 col-xl-10">
    <div class="user-form-logo">
      <a href="index.html"><img src="{{site_data.logo.url}}" alt="logo" /></a>
    </div>
    <div class="user-form-card">
      <div class="user-form-title">
        <h2>welcome!</h2>
      </div>
      <div class="user-form-group">
        <ul class="user-form-social">
          <li>
            <a href="#" class="facebook"
              ><i class="fab fa-facebook-f"></i>login with facebook</a
            >
          </li>
          <li>
            <a href="#" class="twitter"
              ><i class="fab fa-twitter"></i>login with twitter</a
            >
          </li>
          <li>
            <a href="#" class="google"
              ><i class="fab fa-google"></i>login with google</a
            >
          </li>
          <li>
            <a href="#" class="instagram"
              ><i class="fab fa-instagram"></i>login with instagram</a
            >
          </li>
        </ul>
        <div class="user-form-divider">
          <p>or</p>
        </div>
        <form class="user-form" method="post">
          {% csrf_token %} {% bootstrap_form form %}
          <div class="form-button">
            <button type="submit">Signup</button>
          </div>
        </form>
      </div>
    </div>
    <div class="user-form-remind">
      <p>Do you have account?<a href="{% url 'login' %}">login here</a></p>
    </div>
    <div class="user-form-footer">
      <p>Greeny | &COPY; Copyright by <a href="#">{{site_data.name}}</a></p>
    </div>
  </div>
</div>

{% endblock %}
